* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  font-family: 'PT-Sans';
  color: var(--dark);
  background: var(--light);
  font-weight: 400;
  margin: 0;
}

main {
  padding-bottom: 473px;
}
.no-scroll {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 192px;

  @include tablets {
    gap: 146px;
  }

  @include phones {
    gap: 112px;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  background-color: unset;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}