:root {
  // colors
  --light: #F8F7F7;
  --dark: #000000;

  --blue: #2790EB;
  --blue-light: rgba(166, 183, 212, 0.47);

  --gray-strong: #BCBCBC;
  --gray-medium: #EEEFF1; 
  --gray-light: #FBFCFD;
  
  --text-caption: #8F8F8F;
  --text-blue: #1253A2;

  --gradient: linear-gradient(90.00deg, rgb(0, 0, 0) 30%,rgb(28, 39, 52) 73%);
  --smoke: 0px 0px 20px 0px rgba(0, 0, 0, 0.12); 
}
