:root {
  // colors
  --light: #F8F7F7;
  --dark: #121212;

  --blue: #2790EB;
  --green: #55B77E;
  --red: #E15E5E;
  --gradient: linear-gradient(135.00deg, rgb(39, 146, 237) -0.255%, rgb(85, 183, 126) 99.745%);

  --gray: #959595;
  --dark-gray: rgba(141, 141, 141, 0.1);

  --smoke: rgba(45, 45, 45, 0.3);
  --caption: #96AAA7;

  --bottom-border: rgba(150, 170, 167, 0.3);
}